# server
server/

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
doc/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# cache
.sass-cache/
undefined/
temp/
# package-lock.json
yarn-error.log
yarn.lock
package-lock.json

dist/demo.html
dist/quick-el-drawer.common.js
dist/quick-el-drawer.common.1.js
dist/quick-el-drawer.common.2.js
dist/quick-el-drawer.umd.js
dist/quick-el-drawer.umd.1.js
dist/quick-el-drawer.umd.2.js
dist/quick-el-drawer.umd.min.1.js
dist/quick-el-drawer.umd.min.2.js